html {
    background:#253239;
	background: url(/static/img/physarum.gif) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}             
body {
    font-family: 'Montserrat', san-serif;
    font-size: 1em;
    color: #fff;
    margin-left: 1em;
}

a {
    color: #fff;
    font-weight: thin;
    text-decoration: none;
}

a:hover {
    color: #4C1201;
}

// Structure
html,
body,
main {
    font-family: 'Montserrat', san-serif;
  display: block;
  color: #333;
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5;
}

.box {
    overflow-wrap: break-word;
  	word-wrap: break-word;

  	-ms-word-break: break-all;
  	/* This is the dangerous one in WebKit, as it breaks things wherever */
  	word-break: break-all;
  	/* Instead use this non-standard one: */
  	word-break: break-word;

    padding: 1em;
    margin: auto;
    width: 85%;
    background-color: rgba(40, 40, 40, 0.5);
    border: 2px solid grey;
}

.box
  {                                                                                                               
      text-align: center;
      height: 150px;                                                                                               
      width: 300px;                                                                                                
      background-color: grey;                                                                                   
      position:absolute;                                                                                          
      margin:auto;                                                                                                
      top:0;                                                                                                      
      left:0;                                                                                                     
      right:0;                                                                                                    
      padding: 10px;                                                                                              
      border: solid #bebebe 1px;                                                                                  
  }     
