[
    {'mindsign', [
        {ip_address, {127,0,0,1}},
        {port, 8080},
        {workers, 25},
        {erlydtl_templates, [
            {"/templates/base.dtl", templates_base},
            {"/templates/about.dtl", templates_about},
            {"/templates/contact.dtl", templates_contact}
        ]}
    ]}
].
